.header {
  margin-top: 45px;
  padding: 0;
  height: 74px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 627px) {
  .header {
    height: 36px;
    max-width: 320px;
  }

  .header__logo {
    max-width: 126px;
    height: 24px;
  }
}
