@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");
@import url("../blocks/page.css");

.page {
  background-color: black;
  color: white;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  margin-top: 45px;
  padding: 0;
  height: 74px;
  border-bottom: 1px solid #545454;
}

.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  gap: 18px;
  align-items: baseline;
}

.profile__edit-button {
  background: transparent url(../images/Edit-button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  gap: 18px;
}

.profile__edit-button:hover {
  opacity: 60%;
}

.profile__add-button {
  background: transparent url(../images/Add-button.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
}

.profile__add-button:hover {
  opacity: 60%;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
}

.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
  margin-top: 16px;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

.cards {
  padding: 51px 0 40px;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 17px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.card__image {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  height: 282px;
  object-fit: cover;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
  font-weight: 900;
  line-height: 100%;
  border-radius: 0px 0px 10px 10px;
}

.card__like-button {
  background: transparent url(../images/like-button.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}

@media screen and (max-width: 627px) {
  .page__section {
    max-width: 320px;
  }
  .header {
    height: 36px;
    max-width: 320px;
  }

  .header__logo {
    max-width: 126px;
    height: 24px;
  }

  .profile {
    flex-direction: column;
    max-width: 282px;
  }

  .profile__image {
    margin: 0;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .profile__description {
    width: 100%;
    text-align: center;
  }

  .profile__add-button {
    margin: 36px 0;
    width: 100%;
    border: none;
    max-width: 282px;
    height: 50px;
  }

  .profile__title {
    font-size: 22px;
    line-height: 100%;
    text-align: center;
  }
  .cards {
    padding: 0 0 48px;
  }
  .card__list {
    grid-template-columns: repeat(auto-fit, 288px);
  }

  .card {
    max-width: 288px;
  }

  .card__image {
    height: 288px;
  }
}
