@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");
@import url("../blocks/page.css");
@import url("../blocks/modal.css");
@import url("../blocks/header.css");
@import url("../blocks/profile.css");
@import url("../blocks/cards.css");

.card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.card__image {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  height: 282px;
  object-fit: cover;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
  font-weight: 900;
  line-height: 100%;
  border-radius: 0px 0px 10px 10px;
}

.card__title {
  max-width: 240px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-weight: 900px;
  line-height: 100%;
}

.card__like-button {
  background: transparent url(../images/like-button.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card__list {
    grid-template-columns: repeat(auto-fit, 288px);
  }

  .card {
    max-width: 288px;
  }

  .card__image {
    height: 288px;
  }
}
